{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{% static  'users/main.css' %}">

    <!-- ICONS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">

    <link rel="icon" href="https://media-exp1.licdn.com/dms/image/C4D0BAQFVJtDC9aFqKw/company-logo_200_200/0/1596017070572?e=2147483647&v=beta&t=3JBb5rnkP9HZzNmtHIkl449hJKHjoCXDHhAHMLsfg0U" style="border-radius: 50%;">

  {% if title %}
  <title>BlueBrave- {{title}}</title>
  {% else %}
  <title>BlueBrave</title>

  {% endif %}
</head>

<body>
<div class="">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    {% if user.is_authenticated %}
    <a class="navbar-brand" href="{%url 'ujamaa-home'%}">BlueBrave</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!--  -->
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-auto">
       

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <i class="bi bi-person-circle"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'profile'  %}"><i class="bi bi-person-circle p-2"></i>Profile</a>
            <a class="dropdown-item" href="{% url 'newpost' %}"><i class="bi bi-plus-circle p-2" ></i>Neighbourhoods</a>
            <a class="dropdown-item" href="{% url 'businesspost' %}"><i class="bi bi-briefcase p-2"></i>Businness</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout'  %}"><i class="bi bi-box-arrow-right p-2"></i>Logout</a>
          </div>
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'nb-project'  %}">Home <span class="sr-only">(current)</span></a>
          </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'nb-about'  %}">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

      </ul>



      {% else %}
      <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
      <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
      <a href="{% url 'ujamaa-home' %}"><button type="button" class="btn btn-dark btn-rounded">Home</button></a>
      {% endif %}


    </div>
  </nav>

</div>
 
  <main >
    <!-- <div class="row"> -->
      <!-- <div class="col-md-8"> -->

        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{message.tags}}">
          {{message}}
        </div>

        {% endfor %}
        {% endif %}

        {% block content %}{% endblock %}
         
      </div>
      <!-- <div class="col-md-4">
        <div class="content-section">
          <h3>Our Sidebar</h3>
          <p class='text-muted'>You can put any information here you'd like.
            <ul class="list-group">
              <li class="list-group-item list-group-item-light">Latest Posts</li>
              <li class="list-group-item list-group-item-light">Announcements</li>
              <li class="list-group-item list-group-item-light">Calendars</li>
              <li class="list-group-item list-group-item-light">etc</li>
            </ul>
          </p>
        </div>
      </div> -->
    </div>
  </main>



























  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>