{% extends 'users/base.html' %}

{% block content %}

<div class="container">
  <div class="text-center p-2">
    <h1>Highlighted Neighbourhood</h1>
  </div>
  <div class="row">
    {% for neighbourhood in neighbourhood %}

    <div class="col-md-4 mb-4 ">
      <div class="card" style="width: 18rem;">
        <img src="{{neighbourhood.neighbourhood_image.url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <!-- <h5 class="card-title">{{ neighbourhood.title }}</h5> -->
          <h5 class="card-title">{{ neighbourhood.title }}</h5>
          <div class="badge" style="float:left">
            <h6><span style="font-weight: lighter; font-size: small;">Location:
                <b>{{ neighbourhood.location }}</b></span>
            </h6>

          </div>
          
          <div class="badge" style="float:right">
            <h6><span class="badge badge-info">{{ neighbourhood.county }}</span></h6>
          </div>
          
          <br><br>

          <span class="text-muted" style="font-size: small">
            <i class="bi bi-calendar3"></i>
            <small>
              {{ neighbourhood.date_created }}
            </small>
  
          </span>
         
          <a href="{% url 'jb' neighbourhood.id %}"><button class="btn btn-primary btn-block mt-2">More Details</button></a>

          
        </div>
      </div>
    </div>

    {% endfor %}

  </div>




</div>



{% endblock content %}