{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  
  <link rel="stylesheet" type="text/css" href="{% static  'users/main.css' %}">

  <link rel="icon" href="https://media-exp1.licdn.com/dms/image/C4D0BAQFVJtDC9aFqKw/company-logo_200_200/0/1596017070572?e=2147483647&v=beta&t=3JBb5rnkP9HZzNmtHIkl449hJKHjoCXDHhAHMLsfg0U" style="border-radius: 50%;">
  <title>Register</title>
</head>









<body>



  <div class="container  mt-">

    <div class="content-section">
      <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4"> Join Today</legend>
          {{form|crispy}}
        </fieldset>

        <div class="form-group p-2">
          <button class="btn btn-outline-primary" type="submit"> Sign Up</button>
        </div>

      </form>

      <div class="border-top pt-3">
        <small class="text-muted">
          Already have an account? <a class="ml-2" href="{%url 'login' %}">Sign In</a>

        </small>

      </div>

    </div>


  </div>



  <style>
    body{
      background-image: url(https://images.unsplash.com/photo-1602941525421-8f8b81d3edbb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzR8fG5laWdoYm9yaG9vZHxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60);
      background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  opacity: 1;
    }
      
    </style>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
  </script>



</body>

</html>