{% extends 'users/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


  <!-- icons  -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">


  <link rel="icon" href="https://media-exp1.licdn.com/dms/image/C4D0BAQFVJtDC9aFqKw/company-logo_200_200/0/1596017070572?e=2147483647&v=beta&t=3JBb5rnkP9HZzNmtHIkl449hJKHjoCXDHhAHMLsfg0U" style="border-radius: 50%;">
  {% if title %}
  <title>NxtDoor- {{title}}</title>
  {% else %}
  <title>NxtDoor</title>

  {% endif %}
</head>

<body>







  <div class="container">
    <div class="text-center p-2">
      <h2 te>{{neighbourhood.title}}</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, obcaecati eaque! Quo temporibus,
        deserunt ut fugit ipsa sit excepturi eaque eius sapiente, tempora debitis quae neque voluptatem. Blanditiis,
        soluta ducimus?
      </p>
    </div>

    <div class="row">
      <div class="col-sm-4   justify-content-around">
        <div class="card" style="margin-bottom:30px;">
          <div class="card-body">
            <h5 class="card-title text-center"><strong>County</strong></h5>
            <p class="card-title text-center "><i class="bi bi-geo-alt-fill"></i> {{neighbourhood.county}}</p>


          </div>

        </div>

        <div class="card" style="margin-bottom:30px;">
          <div class="card-body">
            <h5 class="card-title text-center"><strong>Health Hotline</strong></h5>
            <p class="card-title text-center "><i class="bi bi-telephone"></i> {{neighbourhood.health_department}}</p>


          </div>

        </div>


        <div class="card" style="margin-bottom:30px;">
          <div class="card-body">
            <h5 class="card-title text-center"><strong>Police Hotline</strong></h5>
            <p class="card-title text-center "><i class="bi bi-telephone"></i> {{neighbourhood.police_department}}</p>


          </div>

        </div>





      </div>

    </div>
    <hr>


    <h5 class="py-4">
      <b>Featured Posts</b>
      |
      <span class="font-weight:lighter">{{neighbourhood.title}}</span>

    </h5>

    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="margin-bottom:30px;">
          <div class="card-body">
            <div class="card-title">
              <h5>Second Post</h5>
              <p class="text-muted" style="font-size:small">
                'Neighbourhood'
                <span class="text-dark">
                  <b>{{neighbourhood.title}}</b>
                </span>

              </p>
              <p class="card-text">
                {{post.content}}
              </p>
              <hr>
              <div class="d-flex flex-row user-info">
                <img class="rounded" src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-File.png" alt=""
                  height="40px" width="40px">
              </div>
              <div class="d-flex flex-column justify-content-start ml-2">
                <a href="">
                  <span class="name">
                    <b>{{post.user}}</b>
                  </span>
                </a>
              </div>
              <span class="text-muted" style="font-size: small">
                <i class="bi bi-calendar3"></i>
                <small>
                  <p class="article-content">  {{post.date_posted}}</p>
                </small>
              </span>

            </div>



          </div>


        </div>
        <a href="{% url 'post' %}"><button type="button" class="btn btn-primary">
          Add Post
        </button></a>

        

      </div>

    </div>
   



    <hr>
    <!-- ____________________________________________________ -->

    <h5 class="py-4">
      <b>Featured Businesses</b>
      in
      <span class="font-weight:lighter">{{neighbourhood.title}}</span>

    </h5>

    <div class="row">
      <div class="col-sm-4">
        <div class="card" style="margin-bottom:30px;">
          <div class="card-body">
            <div class="card-title">
              <h5>{{business.name}}</h5>
              <p class="text-muted" style="font-size:small">
                
                <span class="text-dark">
                  <b>{{neighbourhood.title}}</b>
                </span>

              </p>
              <p class="card-text">
               {{business.location}}
              </p>
              <small><p>{{business.business_email}}</p></small>
              <small><p>{{business.business_type}}</p></small>
              <hr>
              <div class="d-flex flex-row user-info">
                <img class="rounded" src="https://www.pngall.com/wp-content/uploads/5/Profile-PNG-File.png" alt=""
                  height="40px" width="40px">
              </div>
              <div class="d-flex flex-column justify-content-start ml-2">
                <a href="">
                  <span class="name">
                    <b>{{business.user}}</b>
                  </span>
                </a>
              </div>
              <span class="text-muted" style="font-size: small">
                <i class="bi bi-calendar3"></i>
                {{business.date_posted}}
              </span>

            </div>



          </div>


        </div>

        <!-- MODAL -->

        <a href="{% url 'businesspost' %}"><button type="button" class="btn btn-primary">
          Add Business
          </button></a>




      </div>

    </div>





  </div>



  {% endblock content %}





  <style>
    /* .card {

   position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: row;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    } */
    body {
      background-color: aquamarine;
    }

    .row {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      margin-right: -15px;
      margin-left: -15px;
    }
  </style>






  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
  </script>
</body>

</html>